<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.kyung.spring.ex.mybatis.repository.ReviewRepository">
	<select id="selectReview" resultType="com.kyung.spring.ex.mybatis.domain.Review"
	parameterType="int">
		SELECT
			`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_review`
		WHERE
			`id` = #{id}
	</select>
	
	<insert id="insertReview" parameterType="map" > <!--  resultType = "int"를 적으면 오류남 -->
		INSERT
			`new_review`
			(
				`storeId`
				, `menu`
				, `userName`
				, `point`
				, `review`
			)
			VALUE
			(
				#{`storeId`}
				, #{`menu`}
				, #{`userName`}
				, #{`point`}
				, #{`review`}
			
			)

	</insert>
	
	<insert id="insertReviewBtObject" parameterType="com.kyung.spring.ex.mybatis.domain.Review">
		INSERT
			`new_review`
			(
				`storeId`
				, `menu`
				, `userName`
				, `point`
				, `review`
			)
			VALUE
			(
				#{storeId}
				, #{menu}
				, #{userName}
				, #{point}
				, #{review}
			)
	
	</insert>

</mapper>
