<?xml version="1.0" encoding="UTF-8"?>

<!-- dtd : xml에서 사용될 태그를 정의한 문서 -->
<!-- mybatis dtd -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kyung.spring.ex.mvc.repository.UserRepository">
 	<select id="selectLastUser" resultType ="com.kyung.spring.ex.mvc.domain.User">
 		SELECT
 			`id`
 			, `name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`new_user`
 		ORDER BY
 			`id` DESC
 		LIMIT
 			1 	
 	</select>
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO
 			`new_user`
 		(
 			`name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 		)
 		VALUE
 		(
 			#{name}
 			, #{birthday}
 			, #{email}
 			, #{introduce}
 		)
 	</insert>
 	
 	<insert id = "insertUserByObject" parameterType = "com.kyung.spring.ex.mvc.domain.User"
 		useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`new_user`
 		(
 			`name`
 			, `yyyymmdd`
 			, `email`
 			, `introduce`
 		)
 		VALUE
 		(
 			#{name}
 			, #{yyyymmdd}
 			, #{email}
 			, #{introduce}
 		)
 	</insert>
 
 	<select id = "selectCountByEmail" parameterType="string" resultType="int">
 		SELECT
 			count(*)
 		FROM
 			`new_user`
 		WHERE
 			`email` = #{email};
 	
 	</select>
 
 </mapper>